/* Import Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
	--theme-color: #007d8a;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}

.sidebar > h1 {
	text-align: left;
}
.app-name-link {
	padding: 15px;
}

.app-name-link img {
	max-width: 150px;
}

.markdown-section code {
	
}

